{% extends 'base.html.twig' %}

{% block title %}Добавить машину{% endblock %}

{% block body %}
    <h1>Добавить машину</h1>

    <a href="{{ path('main-table') }}">Назад к списку машин</a>
{% endblock %}
